* {
    padding: 0;
    margin: 0;
    background-color: black;
}

.header {
    border-bottom: solid 1px #fff;
}

.header .logo{
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
}

.header a {
    text-transform: uppercase;
    color: #fff;
    padding-right: 120px;
    padding-left: 120px;
    text-decoration: none;
}

.header a:hover{
    color: gray;
}